USE [MasterPiese]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[patientAge] [int] NULL,
	[patientgender] [bit] NULL,
	[city] [varchar](25) NULL,
	[DeviceID] [int] NULL,
	[AppointmentDate] [date] NULL,
	[aspuserid] [nvarchar](128) NULL,
	[StartTime] [varchar](max) NULL,
	[EndTime] [varchar](max) NULL,
	[IsAccepted] [bit] NULL,
	[Timeslotsid] [int] NULL,
 CONSTRAINT [PK__Appointm__8ECDFCA295D27C27] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[Email] [varchar](50) NULL,
	[notes] [varchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Subject] [varchar](50) NULL,
	[Message] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[DeviceName] [varchar](100) NOT NULL,
	[Description] [varchar](max) NULL,
	[Devicebackground] [varchar](255) NULL,
	[DeviceImg2] [varchar](255) NULL,
	[DeviceImg3] [varchar](255) NULL,
	[step1] [varchar](max) NULL,
	[step2] [varchar](max) NULL,
	[step3] [varchar](max) NULL,
	[Duration] [varchar](50) NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK__Devices__49E1233121DA1D27] PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientReviews]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NULL,
	[Rating] [int] NULL,
	[ReviewText] [varchar](500) NULL,
	[ReviewDate] [datetime] NULL,
	[Userid] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[radiographer]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[radiographer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[imageemployee] [varchar](255) NULL,
	[Job title] [varchar](50) NULL,
 CONSTRAINT [PK_radiographer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[TimeSlotID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [time](0) NULL,
	[EndTime] [time](7) NULL,
	[Available] [bit] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK__TimeSlot__41CC1F52FC41B5E3] PRIMARY KEY CLUSTERED 
(
	[TimeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/1/2023 7:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[iduser] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [bit] NULL,
	[aspuserid] [nvarchar](128) NULL,
	[PhoneNumber] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[iduser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [FirstName], [LastName], [patientAge], [patientgender], [city], [DeviceID], [AppointmentDate], [aspuserid], [StartTime], [EndTime], [IsAccepted], [Timeslotsid]) VALUES (7, N'sohaib', N'alrousan', 55, 1, N'Ma''an', 14, CAST(N'2023-03-29' AS Date), N'1e6a83a3-9508-4935-a5ed-5128ff3a9f2c', N'9:00 AM', NULL, 0, 2)
INSERT [dbo].[Appointments] ([AppointmentID], [FirstName], [LastName], [patientAge], [patientgender], [city], [DeviceID], [AppointmentDate], [aspuserid], [StartTime], [EndTime], [IsAccepted], [Timeslotsid]) VALUES (1019, N'fake', N'fake', 99, 1, N'Ajloun', 14, CAST(N'2023-03-29' AS Date), N'c52ca9c9-7704-42dc-9cd8-a0e9c64c254e', N'10:00 AM', NULL, NULL, 2)
INSERT [dbo].[Appointments] ([AppointmentID], [FirstName], [LastName], [patientAge], [patientgender], [city], [DeviceID], [AppointmentDate], [aspuserid], [StartTime], [EndTime], [IsAccepted], [Timeslotsid]) VALUES (1021, N'ah', N'leeee', 11, 1, N'Irbid', 13, NULL, N'c52ca9c9-7704-42dc-9cd8-a0e9c64c254e', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Users')
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Facebook', N'1362509387908445', N'0d741b6a-5b4a-47a4-8ed0-c6cb0a2e6d6f')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Email], [notes]) VALUES (N'1e6a83a3-9508-4935-a5ed-5128ff3a9f2c', N'1', NULL, NULL)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Email], [notes]) VALUES (N'4ecc3832-a3d2-49e6-a763-8f0416fc82e6', N'2', N'ahmad1@gmail.com', NULL)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Email], [notes]) VALUES (N'4fe21969-8183-4f35-8edc-0cc2d22f1db0', N'2', N'ecfdd@gmail.com', NULL)
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'004d72ee-fa07-4edd-9855-7ae26d6a5189', N'haytham@gmsil.com', 0, N'APYpfTtn9+2pVT5ipktFjvB9XrJHEdqSwof2shKlLmlyrc970Kt6UY4NJarR5QCiHQ==', N'be6ccf3e-c3fa-4c61-891f-2a214b76bdd6', NULL, 0, 0, NULL, 1, 0, N'haytham@gmsil.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0d741b6a-5b4a-47a4-8ed0-c6cb0a2e6d6f', N'sjaros37@gmail.com', 0, NULL, N'ab35b3ca-a869-49d8-acc3-b2dc88025ba7', NULL, 0, 0, NULL, 1, 0, N'sjaros37@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'16233461-8716-4bfb-a328-444af1995192', N'sohaib2@gmail.com', 0, N'AEs4WZwmFaTZxoykXntyQg9/OwAxH1/U2XmIcFr2t7Ib1peqR+8B6IbeENxXiw44hA==', N'906738fa-5ace-479a-bac3-da9a9fdcacc9', NULL, 0, 0, NULL, 1, 0, N'sohaib2@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([id], [Name], [Email], [Subject], [Message]) VALUES (1, N'malik obidat', N'sohaib@gmail.com', N'mail', N'ppppppppppppprrrrrrrrrrbbbbbbbbbbbbllllllllllllllleeeeeeeeeeeeeeeemmmmmmmmmmmmmmm')
INSERT [dbo].[Contact] ([id], [Name], [Email], [Subject], [Message]) VALUES (2, N'sohaib alrousan', N'sohaib@gmail.com', N'mail', N'hello')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[radiographer] ON 

INSERT [dbo].[radiographer] ([id], [Name], [imageemployee], [Job title]) VALUES (1, N'Sohaib alrousan', N'../Content/Images/sohaib.png', N'MRI Technologist ')
INSERT [dbo].[radiographer] ([id], [Name], [imageemployee], [Job title]) VALUES (2, N'yazeed aldamen', N'../Content/Images/yazeed.png', N'MRI Technologist ')
INSERT [dbo].[radiographer] ([id], [Name], [imageemployee], [Job title]) VALUES (3, N'mohammad swalha', N'../Content/Images/swalha.png', N'CT Radiographer')
SET IDENTITY_INSERT [dbo].[radiographer] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlots] ON 

INSERT [dbo].[TimeSlots] ([TimeSlotID], [StartTime], [EndTime], [Available], [Date]) VALUES (2, CAST(N'09:00:00' AS Time), NULL, NULL, NULL)
INSERT [dbo].[TimeSlots] ([TimeSlotID], [StartTime], [EndTime], [Available], [Date]) VALUES (3, CAST(N'10:00:00' AS Time), NULL, NULL, NULL)
INSERT [dbo].[TimeSlots] ([TimeSlotID], [StartTime], [EndTime], [Available], [Date]) VALUES (4, CAST(N'11:00:00' AS Time), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TimeSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([iduser], [userName], [Age], [Gender], [aspuserid], [PhoneNumber]) VALUES (0, N'haytham', 22, 1, N'004d72ee-fa07-4edd-9855-7ae26d6a5189', NULL)
INSERT [dbo].[Users] ([iduser], [userName], [Age], [Gender], [aspuserid], [PhoneNumber]) VALUES (1, N'Sohaib', 25, NULL, N'5c91b96f-3c91-4871-8242-79cdd43745ad', NULL)
INSERT [dbo].[Users] ([iduser], [userName], [Age], [Gender], [aspuserid], [PhoneNumber]) VALUES (2, N'ahmad', 22, NULL, N'4ecc3832-a3d2-49e6-a763-8f0416fc82e6', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_AspNetUsers] FOREIGN KEY([aspuserid])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_AspNetUsers]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Devices] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Devices] ([DeviceID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Devices]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_TimeSlots] FOREIGN KEY([Timeslotsid])
REFERENCES [dbo].[TimeSlots] ([TimeSlotID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_TimeSlots]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PatientReviews]  WITH CHECK ADD  CONSTRAINT [FK__PatientRe__Appoi__68487DD7] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[PatientReviews] CHECK CONSTRAINT [FK__PatientRe__Appoi__68487DD7]
GO
ALTER TABLE [dbo].[PatientReviews]  WITH CHECK ADD  CONSTRAINT [FK_PatientReviews_AspNetUsers] FOREIGN KEY([Userid])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PatientReviews] CHECK CONSTRAINT [FK_PatientReviews_AspNetUsers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_AspNetUsers] FOREIGN KEY([aspuserid])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_AspNetUsers]
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD  CONSTRAINT [chk_StartTimeBeforeEndTime] CHECK  (([StartTime]<[EndTime]))
GO
ALTER TABLE [dbo].[TimeSlots] CHECK CONSTRAINT [chk_StartTimeBeforeEndTime]
GO
