@model Masterpies.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layoutregester.cshtml";
    //Layout = null;

}

<div class="img js-fullheight" style="background-image: url(../login/images/login0.jpeg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section text-dark fs-1">Registeration</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center text-dark">Have an account?</h3>


                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "signin-form", role = "form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <input type="text" class="form-control" style="background: #6b98c1;" name="userName" placeholder="Your Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" style="background: #6b98c1;" id="Email" name="Email" placeholder="E-mail" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" style="background: #6b98c1;" id="Password" name="Password" placeholder="Password" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" style="background: #6b98c1;" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm password" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" style="background: #6b98c1;" name="Age" placeholder="Your Age" required>
                            </div>
                            <div class="form-group">
                                <button style="background: #007bff; " type="submit" class="form-control btn btn-primary submit px-3">Register</button>
                            </div>


                        }

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
