@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}


<section class="banner-area other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>About Us</h1>
                <a href="/Home/index">Home</a> <span>|</span> <a href="/Home/about">About Us</a>
            </div>
        </div>
    </div>
</section>
<!-- About Start -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="~/img/about-1.jpg" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="~/img/about-2.jpg" alt="" style="margin-top: -25%;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
                <h1 class="mb-4">Why You Should Trust Us? Get Know About Us!</h1>
                <p>
                    At Moon Ray, our primary focus is providing top-quality care and ensuring the well-being of our patients. We understand that trust is the cornerstone of any healthcare relationship.
                    Here are some of the reasons why you should trust us with your radiation therapy needs:
                </p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Quality health care</p>
                <p><i class="far fa-check-circle text-primary me-3"></i> State-of-the-Art Technology</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Highly Skilled and Experienced Professionals</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Qualified<small class="d-block text-primary">Radiologest</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">
                                Emergency<small class="d-block text-primary">
                                    Services
                                </small>
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0">Free<small class="d-block text-primary">Ambulance</small></h6>
                        </div>
                    </div>
                </div>
                @*<a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>*@
            </div>
        </div>
    </div>
</div>
<!-- About End -->



<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Frequently Asked Questioins</h2>
            <p>
                Below are some frequently asked questions for a radiation center. Feel free to modify
                these questions and answers to fit your specific radiation center's services and policies.
            </p>
        </div>

        <ul class="faq-list">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                    What is a radiation center? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        A radiation center is a specialized medical facility that provides radiation therapy to treat cancer and other conditions. Radiation therapy uses high-energy particles or waves, such as X-rays or gamma rays, to destroy or damage cancer cells.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
                    What types of treatments are offered at a radiation center?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        A radiation center typically offers various types of radiation therapy, including external beam radiation therapy, internal radiation therapy (brachytherapy), and systemic radiation therapy.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
                    How does radiation therapy work?                    <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Radiation therapy works by damaging the DNA of cancer cells, which prevents them from dividing and growing. The radiation can be delivered externally or internally, depending on the type of treatment and the specific needs of the patient.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
                    What are the side effects of radiation therapy?
                    <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Common side effects of radiation therapy include fatigue, skin irritation, and hair loss in the treatment area. Other side effects may vary depending on the specific type of radiation therapy and the area being treated. Your radiation oncologist will discuss potential side effects with you before treatment begins.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Is radiation therapy painful? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Most patients do not experience pain during radiation therapy sessions. However, some patients may experience mild discomfort, skin irritation, or fatigue as side effects of the treatment.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
                    How long does a radiation therapy session last?
                    <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        The duration of a radiation therapy session varies depending on the type of treatment and the individual patient's needs. In general, external beam radiation therapy sessions can take anywhere from 15 minutes to an hour, while internal radiation therapy sessions may last a few minutes to several days.s
                    </p>
                </div>
            </li>


        </ul>

    </div>
</section>
<!-- ======= Frequently Asked Questions Section ======= -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Radiologists</h5>
            <h1 class="display-4">Qualified Healthcare Professionals</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative">
            @{
                Masterpies.Models.MasterPieseEntities2 db = new Masterpies.Models.MasterPieseEntities2();
                Masterpies.Models.radiographer radiographer = new Masterpies.Models.radiographer();
                var rad = db.radiographers.ToList();
                foreach (var item in rad)
                {
                    <div class="team-item">
                        <div class="row g-0 bg-light rounded overflow-hidden">
                            <div class="col-12 col-sm-5 h-100">
                                <img class="img-fluid h-100" src="~/Content/@item.imageemployee" style="object-fit: cover;">
                            </div>
                            <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                                <div class="mt-auto p-4">
                                    <h3>@item.Name</h3>
                                    <h6 class="fw-normal fst-italic text-primary mb-4">@item.Job_title</h6>
                                    @*<p class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor</p>*@
                                </div>
                                <div class="d-flex mt-auto border-top p-4">
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }

        </div>
    </div>
</div>
<!-- Team End -->